/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../assets/fonts/TTNorms-Regular.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Medium";
    src: url("../assets/fonts/TTNorms-Medium.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Light";
    src: url("../assets/fonts/TTNorms-Light.otf") format("openType");
}

/* Normalize Css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "TTNorms Medium";
    background-color: #343434;
    background-image: url("../assets/images/Texture-Background.png");
    background-size: cover;
}

/* Start Project */

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Start Project = Header-Top */

.header-top {
    display: flex;
}

.nav {
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 1280px;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background-color: #F5F5F5;
    border-radius: 10px;
}

.header-logo {
    width: 250px;
    height: 39px;
}

.menu {
    list-style-type: none;
    width: 100%;
    max-width: 696px;
    display: flex;
    justify-content: space-around;
}

.menu__item {
    display: flex
}

.menu__link {
    text-decoration: none;
    font-size: 18px;
    color: #363636;
}

.menu__link:hover {
    color: #FFCC01;

}

.header-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 135px;
    height: 50px;
    border-radius: 10px;
    font-size: 18px;
    color: #F5F5F5;
    background-color: #363636;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.header-link:hover {
    background-color: #FFCC01;
}

/* Start Project = Header-Bottom */

.header-content {
    display: flex;
}

.header-content__wrapper {
    display: grid;
    grid-template-columns: 360px 360px 360px;
    grid-template-rows: 200px 200px 200px;
}

.header-bottom__img {
    width: 100%;
    max-width: 1280px;
    border-radius: 10px;
    grid-column: 1/5;
    margin-top: 15px;
}

.header-bottom__btn {
    display: flex;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    align-items: center;
    height: 200px;
    width: 100%;
    margin-left: 140px;
    gap: 10px;
}


.header-btn__left {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFCC01;
    color: #F5F5F5;
    font-size: 18px;
    width: 100%;
    max-width: 190px;
    border-radius: 10px;
    height: 50px;
}

.header-btn__left:hover {
    box-shadow: 0px 5px 25px 5px rgba(45, 45, 45, 0.25);
}

.header-btn__right {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363636;
    color: #F5F5F5;
    font-size: 18px;
    width: 100%;
    max-width: 190px;
    border-radius: 10px;
    height: 50px;
}

.header-btn__right:hover {
    box-shadow: 0px 5px 25px 5px rgba(45, 45, 45, 0.25);
}

/* Start Project = Main-Card */

.main-card {
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main-card__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-card__title {
    color: #FFCC01;
    font-size: 32px;
    font-weight: 400;
}

.main-card__1 {
    background-color: #F5F5F5;
    box-shadow: 0px 5px 25px 5px rgba(245, 245, 245, 0.25);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 330px;
    height: 400px;
}

.main-card__img1 {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding-left: 15px;
    padding-top: 15px;
}

.main-card__title1 {
    color: #2D2D2D;
}

.main-card__link1 {
    text-decoration: none;
    color: #666666;
}

.main-card__text1 {
    color: #666666;
    width: 100%;
    display: flex;
    max-width: 280px;
    height: 144px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8rem;
    align-items: flex-start;
    justify-content: center;
}

.main-card__2 {
    background-color: #F5F5F5;
    box-shadow: 0px 5px 25px 5px rgba(245, 245, 245, 0.25);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 330px;
    height: 400px;
}

.main-card__img2 {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding-left: 15px;
    padding-top: 15px;
}

.main-card__title2 {
    color: #2D2D2D;
}

.main-card__link2 {
    text-decoration: none;
    color: #666666;
}

.main-card__text2 {
    color: #666666;
    width: 100%;
    display: flex;
    max-width: 280px;
    height: 144px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8rem;
    align-items: flex-start;
    justify-content: center;
}

.main-card__3 {
    background-color: #F5F5F5;
    box-shadow: 0px 5px 25px 5px rgba(245, 245, 245, 0.25);
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 330px;
    height: 400px;
}

.main-card__img3 {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    padding-left: 15px;
    padding-top: 15px;
}

.main-card__box1 {
    display: flex;
    gap: 15px;
}

.card-text__box1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.main-card__box2 {
    display: flex;
    gap: 15px;
}

.card-text__box2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.main-card__box3 {
    display: flex;
    gap: 15px;
}

.card-text__box3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 5px;
}

.main-card__title3 {
    color: #2D2D2D;
}

.main-card__link3 {
    text-decoration: none;
    color: #666666;
}

.main-card__text3 {
    color: #666666;
    width: 100%;
    display: flex;
    max-width: 280px;
    height: 144px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.8rem;
    align-items: center;
    justify-content: center;
}

.box-card__text1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.box-card__text2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.box-card__text3 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.main-card__btn1 {
    text-decoration: none;
    color: #F5F5F5;
}

.main-card__btn2 {
    text-decoration: none;
    color: #F5F5F5;
}

.main-card__btn3 {
    text-decoration: none;
    color: #F5F5F5;
}

.card-btn__1 {
    background-color: #FFCC01;
    width: 100%;
    margin-left: 15px;
    max-width: 150px;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-btn__1:hover {
    background-color: #363636;
}

.card-btn__2 {
    background-color: #FFCC01;
    width: 100%;
    margin-left: 15px;
    max-width: 150px;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-btn__2:hover {
    background-color: #363636;
}

.card-btn__3 {
    background-color: #FFCC01;
    width: 100%;
    margin-left: 15px;
    max-width: 150px;
    height: 45px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-btn__3:hover {
    background-color: #363636;
}

/* Start Project = Main-Question */

.question-box {
    width: 100%;
    height: 350px;
    background-color: #FFCC01;
    margin-top: 5rem;
}

.question-box__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 340px;
    align-items: center;
    justify-content: space-evenly;

}

.question-box__title {
    color: #F5F5F5;
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.question-box__1 {
    background-color: #F5F5F5;
    box-shadow: 0px 5px 25px 5px rgba(45, 45, 45, 0.25);
    border-radius: 10px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 15px;
    max-width: 750px;
    height: 50px;
    display: flex;
}

.question-icon__1 {
    color: #2D2D2D;
    opacity: 80%;
}

.question-icon__1:hover {
    opacity: 100%;
}

.question-box__text1 {
    color: #2D2D2D;
    font-size: 20px;
    font-weight: 400;
}

.question-box__2 {
    background-color: #F5F5F5;
    box-shadow: 0px 5px 25px 5px rgba(45, 45, 45, 0.25);
    border-radius: 10px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 15px;
    max-width: 750px;
    height: 50px;
    display: flex;
}

.question-icon__2 {
    color: #2D2D2D;
    opacity: 80%;
}

.question-icon__2:hover {
    opacity: 100%;
}

.question-box__text2 {
    color: #2D2D2D;
    font-size: 20px;
    font-weight: 400;
}

.question-box__3 {
    background-color: #F5F5F5;
    box-shadow: 0px 5px 25px 5px rgba(45, 45, 45, 0.25);
    border-radius: 10px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    gap: 30px;
    padding-left: 15px;
    max-width: 750px;
    height: 50px;
    display: flex;
}

.question-icon__3 {
    color: #2D2D2D;
    opacity: 80%;
}

.question-icon__3:hover {
    opacity: 100%;
}

.question-box__text3 {
    color: #2D2D2D;
    font-size: 20px;
    font-weight: 400;
}

/* Start Project = Main-Gallery */

.main-gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 60px;
}

.main-gallery__title {
    color: #FFCC01;
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.gallery-box {
    display: grid;
    grid-template-columns: 426px 426px 426px;
    grid-template-rows: 400px 400px 400px;
}

.gallery-box__1 {
    width: 426px;
    height: 400px;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.gallery-img__1 {
    width: 420px;
    height: 390px;
    border-radius: 10px;
}

.gallery-box__2 {
    width: 426px;
    height: 400px;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.gallery-img__2 {
    width: 420px;
    height: 390px;
    border-radius: 10px;
}

.gallery-box__3 {
    width: 852px;
    height: 800px;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}

.gallery-img__3 {
    width: 845px;
    height: 790px;
    border-radius: 10px;
}

.gallery-box__4 {
    width: 1272px;
    height: 400px;
    grid-column: 1 / 4;
    grid-row: 3 / 4;
}

.gallery-img__4 {
    width: 1272px;
    height: 380px;
    border-radius: 10px;
}

/* Start Project = Main-Works */

.main-works {
    text-align: center;
}

.main-works__wrapper {
    display: flex;
    margin-top: 2rem;
    height: 385px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.main-works__title {
    color: #FFCC01;
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.main-works__bio {
    color: #F5F5F5;
    width: 100%;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.works-content {
    margin-top: 3rem;
    margin-bottom: 3rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.works-content__item {
    flex-basis: 20rem;
    height: 160px;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.works-content__title {
    color: #FFCC01;
    width: 100%;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    box-shadow: inset 1px 4px 20px 0px;
    border-radius: 10px;
}

.works-content__text {
    color: #F5F5F5;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    line-height: 2.5rem;
    max-width: 20rem;
}

/* Start Project = Main-Works */

.main-trust {
    width: 100%;
    height: 230px;
    display: flex;
    align-items: center;
}

.main-trust__wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.main-trust__title {
    color: #FFCC01;
    width: 100%;
    font-size: 32px;
    font-weight: 400;
    display: flex;
    justify-content: center;
}

.main-trust__logo {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.trust-logo {
    width: 180px;
}