/* App Fonts */

@font-face {
    font-family: "TTNorms";
    src: url("../assets/fonts/TTNorms-Regular.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Medium";
    src: url("../assets/fonts/TTNorms-Medium.otf") format("openType");
}

@font-face {
    font-family: "TTNorms Light";
    src: url("../assets/fonts/TTNorms-Light.otf") format("openType");
}

/* Normalize Css */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "TTNorms Medium";
    background-color: #343434;
    background-image: url("../assets/images/Texture-Background.png");
    background-size: cover;
}

/* Start Project */
